// ----- Accordion Item -----

.question {
    padding: 1rem 1.5rem;
    border: 2px solid var(--color-border);
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--light-shadow);

    header {
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;

        .image-container {
            width:40px;
            height:50px;
            // border:1px solid var(--color-border);
            overflow:hidden;
            text-align:left;
    
            img {
                margin:0 auto;
                width:auto;
                height:100%;
            }
        }

        h4 {
            text-transform: none;
            line-height: 1.5;
            flex:1;
            margin-bottom: 0;
        }

        .btn {
            background-color: transparent;
            border-color: transparent;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: var(--color-text);
            cursor: pointer;
            margin-left: 1rem;
            align-self: center;
            min-width: 2rem;
        }

    }
    
    .answer {
        padding:var(--pad2) 0;
    }
    
}

.blockquote {
    margin:0;
    padding:0;
    font-style: italic;
    font-weight:bold;
    font-size:3.2rem;

    h3 {
        color: var(--color-primary);
        &:before {
            content: "\201C";
        }
        &:after {
            content: "\201D";
        }
    }
}