// ----- Navbar -----

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-navbar);

    a {
        text-decoration: none;        
        padding: var(--pad1);
        display:block;
        color: var(--color-navbar-text);
    }

    .brand-logo {
        a {
            font-weight: bold;
        }
    }

    .menu {
        ul {
            display: flex;
            list-style:none;
            margin:0;
            padding:0;

            li {
                margin:0;
                padding:0;
                &::before {
                    display:none;
                    content:'';
                }
                a {
                    font-size:1.2rem;
                    text-transform: uppercase;
                    font-weight: normal;
                }
            }
        }
    }
}